body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
} 


.background-container {
    
    background-image: url('images/background_image.jpeg');
         /* Full height */
        height: 100vh;
    
        /* Center and scale the image */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        /* Optional: Adding a fallback color */
        background-color: #050404;
    
        /* Optional: If you want to fix the background image */
        background-attachment: fixed;

    
    
    

}

.background-container::before {
    /* content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/background_image.jpeg') no-repeat center center/cover;
    opacity: 0.2; 

    z-index: -1; */

     
}*/*/

.overlay-image {
    /* position: absolute;
    top: 75%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
    width: 400px; 
    height: auto; 
    z-index: 1; 
    transform: rotate(-30deg); */

    position: fixed;
    bottom: 10px;    /* Distance from the top */
    left: 10px;   /* Distance from the left */
    z-index: 1000; /* Ensure it stays on top of other content */
    transform: rotate(-30deg);
   
}

.content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white; 
    padding: 20px;
    display: flex; 
    align-items: center; 
    justify-content: center; 

}
h1
{
    margin: 0;
    color: blue;
    text-shadow: 10%;
    
}
.logopic{
    margin-right: 10px; 
    width: 130px;
    height: 100px;
}
.rectangle{
    position: absolute;
    top: 69%; 
    left: 63%; 
    transform: translate(-50%, -50%); 
    width: 600px;
    height: 200px;
    background-color: hsl(187, 97%, 71%); 
    border-radius: 50px;
    
    z-index: 1; 
}
#learn {
    background-color: #FFA500; 
    border: none;
    border-radius: 25px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 80px;
    cursor: pointer;
    
}

#typing{
    background-color: #FFA500; 
    border: none;
    border-radius: 25px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 40px 7px;
    cursor: pointer;
}

#contact{
    background-color:#00C8FF; 
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 7px;
    cursor: pointer;
}

#activation{
    background-color:#00C8FF; 
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 7px;
    cursor: pointer;
    
}

#buy{
    background-color:#00C8FF; 
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 7px;
    cursor: pointer;
    
}
#about{
    background-color: #00C8FF; 
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 7px;
    cursor: pointer;
    
}
.social-icons {

    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000; 
    /* display: flex;
    justify-content: flex-start;
    gap: 10px; 
    padding-top: 450px;
    padding-left: 900px;
    position: absolute; */
}

.icon {
    width: 50px; 
    height: auto; 
    padding: 5px;
}
.top-buttons{
    gap: 10px;
    text-align: center;
    padding-top: 60px;
}

#English{
    background-color: #FFA500; 
    border: none;
    border-radius: 25px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 20px;
    cursor: pointer;
    
}
#Hindi{
    background-color: #FFA500; 
    border: none;
    border-radius: 25px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 20px;
    cursor: pointer;
    
}
#Remmin{
    background-color: #FFA500; 
    border: none;
    border-radius: 25px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 30px;
    cursor: pointer;
    left: 30px;
}
.box{
    position: absolute;
    top: 60%; 
    left: 63%; 
    transform: translate(-50%, -50%); 
    width: 350px;
    height: 400px;
    background-color: #6CEBFD; 
    border-radius: 50px;
    
    z-index: 1; 
}
.Submit{

    background-color: #FFA500; 
    border: none;
    border-radius: 25px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 40px;
    cursor: pointer;
}
.home{
    background-color: #FFA500; 
    border: none;
    border-radius: 25px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 40px 7px;
    cursor: pointer;
}
.formbuttons{
    gap: 10px;
    text-align: center;
    padding-top: 60px;
}
.engrect{
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 650px;
    height: 40px;
    background-color: #6CEBFD; 
    border-radius: 50px;
    z-index: 1;
    gap: 10px;
}
.stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
       padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    top: 20%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 650px;
    height: 30px;
    background-color: #6CEBFD; 
    border-radius: 50px;
    z-index: 1;
    
}
.stats-contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%; 
    left: 47%; 
    transform: translate(-50%, -50%); 
    width: 500px;
    height: 25px;
    background-color: #6CEBFD; 
    border-radius: 50px;
    z-index: 2;
}

.stat {
    text-align: center;
    color:black;
}

.stat h5 {
    margin: 0;
    font-size: 1em;
}

.stat p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

.stat button {
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}


.highlightcorrect {
    color: #000; /* Text color */
    background-color:green; /* Highlight color */
    padding: 2px 5px;
    border-radius: 5px;
}
.highlightincorrect{
    color: #000; /* Text color */
    background-color:red; /* Highlight color */
    padding: 2px 5px;
    border-radius: 5px;
}
.highlightcolor{
    color: #000; /* Text color */
    background-color:grey; /* Highlight color */
    padding: 2px 5px;
    border-radius: 5px;
}
/*.text{
  margin: 110px;
border-radius: 20px;
height: 100px;
width: 300px;
text-align: center;
align-content: center;
margin-left: 40%;

}
.textar{


    margin-bottom: 500px;
    border-radius: 20px;
    height: 100px;
    width: 300px;
    text-align: center;
    margin-left: 40%;
    
}*/
.text {
    border-radius: 20px;
    height: 100px;
    width: 500px;
    text-align: center;
    left: 400px;
    top: 37%;
    font-weight: 200;
}
.textar{
    border-radius: 20px;
    height: 100px;
    width: 500px;
    text-align: center;
    margin-top: 170px;
    left: 400px;
    z-index: 2;
    position: fixed;
    
}
.centered-text-areas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.shiftbuttons{
    margin-left: 500px;
    gap: 50px;
    position: relative;
    top: 13%;
    left: 3%;
    gap: 20px;
    z-index: 2;
    
}
.shiftbutton-test{
    margin-left: 500px;
    gap: 30px;
    position:static;
    top:79%;
    left: 3%;
    gap: 20px;
}
.typingimage {
    /* position: absolute;
    top: 75%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
    width: 400px; 
    height: auto; 
    z-index: 1; 
    opacity: 0.5; */

    position: fixed;
    bottom: 10px;    /* Distance from the top */
    left: 10px;   /* Distance from the left */
    z-index: 1000; /* Ensure it stays on top of other content */
    transform: rotate(-30deg);
    width: 400px; 
    height: auto; 
    opacity: 0.8;
   
}
.typingbutton{
    z-index: 2;
    position: relative;
}
.divContainer{
z-index: 2;
}
.stats{
    margin: 0;
    font-size: 1em;
    text-align: center;
}
.shiftbutton{
    margin-left: 450px;
    gap: 5px;
    position: relative;
    top: 72%;
    left: -5%;
    z-index: 2;
}
.square{
    position: relative;
    margin-top: -190px;
    top: 49%; 
    left: 80%; 
    transform: translate(-50%, -50%); 
    width: 150px;
    height: 172px;
    background-color: hsl(187, 97%, 71%); 
    border-radius: 50px;
    text-align: center;
    z-index: 2; 
    row-gap:1%;
    padding: 20px;
}
.square h4,
.square h5,
.square button {
    margin: 13px 0;
}
.test-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    position: relative;
    top: 50%; 
    left: 50%; 
    margin-top: -30px;
    transform: translate(-50%, -50%); 
    width: 700px;
    height: 30px;
    background-color: #6CEBFD; 
    border-radius: 50px;
    z-index: 2;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px; /* Adjust this to control the width of the form */
    margin-right: 40px;
}

.form-group label {
    width: 150px; /* Adjust as needed */
    margin-right: 10px;
    text-align: right;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    flex-grow: 1;
}

    